@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #fff;
  --secondary-color: rgba(232, 229, 228, 0.56);
  --black-color: #000;
  --grey-color: rgb(128, 128, 128);

  --font-size-s: 0.85rem;
  --font-size-m: 1.3rem;
  --font-size-l: 2.1rem;
  --font-size-xl: 4rem;

  --site-max-width: 1400px;

  --breakpoint-1: 1200px;
  --breakpoint-2: 800px;
}

/* Header / Navbar Styling along with styling for Home */
header {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  z-index: 50;
}

header .navbar {
  padding: 30px;
  display: flex;
  justify-content: center;
}

header .navbar .navbar-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 300px;
  height: 45px;
  background: var(--secondary-color);
  padding: 3px;
  border-radius: 100px;
  backdrop-filter: blur(5px);
}

.navbar .navbar-list li {
  width: 95px;
  height: 100%;
  background: transparent;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list li.selected-list {
  background: var(--primary-color);
}

.navbar .navbar-list a {
  text-decoration: none;
  color: var(--black-color);
  font-size: var(--font-size-s);
  font-weight: 300;
}

/* Webpage Title Section Styling */
.title-section {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 20px;
  text-align: center;
  gap: 50px;
  font-size: var(--font-size-s);
  font-weight: 300;
}

.content-title-section {
  padding: 250px 20px;
}

.title-section h1 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  max-width: 750px;
  line-height: 80px;
}

.title-section .title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper-highlight {
  padding: 5px 10px;
  background: var(--secondary-color);
  border-radius: 100px;
}

/* Thumbnail Section Styling */
.thumbnail-section {
  padding: 20px;
  max-width: var(--site-max-width);
  margin: 0 auto;
}

.thumbnail-section .thumbnail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  padding: 0px 20px;
}

.thumbnail-grid .grid-item-container {
  display: flex;
  align-items: top;
  text-decoration: none;
  color: inherit;
}

.thumbnail-grid .grid-item-container .grid-item {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: 0.4s ease;
  background: var(--primary-color);
}

.thumbnail-grid .grid-item-container .profile-grid-item {
  z-index: 1;
  width: 100%;
  height: 75%;
  border-radius: 12px;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: default;
  transition: 0.4s ease;
  background: var(--primary-color);
}

.thumbnail-grid .grid-item-container p {
  float: left;
  position: relative;
  top: 30px;
  left: 25px;
  z-index: 5;
  margin-bottom: -20px;
  color: var(--primary-color);
  font-weight: 300;
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease;
  display: block;
}

.thumbnail-grid .grid-item-container:hover p {
  visibility: visible;
  opacity: 1;
}

.thumbnail-grid .grid-item-container .grid-item:hover {
  filter: blur(5px) brightness(75%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.59);
}

/* Contact Section Styling */
.contact-section {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.contact-title {
  text-align: center;
}

.contact-title h2 {
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 40px;
}

.contact-title a {
  text-decoration: none;
  color: var(--grey-color);
}

.contact-title a:hover {
  color: rgba(128, 128, 128, 0.598);
}

/* Footer Styling */
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  font-size: var(--font-size-s);
  font-weight: 300;
}

footer .footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer-left img {
  height: 2rem;
}

footer .footer-right .footer-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-right .footer-list a {
  text-decoration: none;
  color: var(--black-color);
}

.footer-right .footer-list a:hover {
  color: #00000079;
}


/* About Page Styling */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.about-title {
  text-align: center;
  font-size: var(--font-size-s);
  font-weight: 300;
}

.about-description {
  font-size: var(--font-size-l);
  max-width: 700px;
  text-align: center;
  line-height: 45px;
}


/* Experience Section Styling */
.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.experience-title {
  text-align: center;
  font-size: var(--font-size-s);
  font-weight: 300;
}

.experience-description {
  font-size: var(--font-size-l);
  max-width: 700px;
  text-align: center;
  line-height: 45px;
}

/* Experience Grid Section Styling */
.experience-grid-section {
  max-width: var(--site-max-width);
  margin: 0 auto;
}

.experience-grid-section .experience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
}

.experience-grid .experience-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: var(--font-size-s);
  color: var(--grey-color);
}

.experience-grid .experience-cell p {
  font-weight: 300;
}

.experience-grid .experience-cell h2 {
  font-size: var(--font-size-m);
  font-weight: 400;
  color: var(--black-color);
}

.experience-cell .wrapper-highlight {
  color: var(--black-color);
  margin: 10px 0;
}

/* Client Section Styling */
.client-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 150px;
  padding-bottom: 50px;
}

.client-title {
  text-align: center;
  font-size: var(--font-size-s);
  font-weight: 300;
}

.client-description {
  font-size: var(--font-size-l);
  max-width: 700px;
  text-align: center;
  line-height: 45px;
}

/* Client Grid Section Styling */
.client-grid-section {
  max-width: var(--site-max-width);
  margin: 0 auto;
}

.client-grid-section .client-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 50px;
  background-color: var(--black-color);
  border-radius: 20px;
}

.client-grid .client-cell {
  padding: 40px;
}

.client-grid .client-cell img {
  color: black;
  background: black;
  width: 100%;
}



/* Media Queries for responsiveness */
@media screen and (width <= 1200px) {
  :root {
    --font-size-s: 0.85rem;
    --font-size-m: 1rem;
    --font-size-l: 2.1rem;
    --font-size-xl: 2.7rem;
  }

  .title-section {
    padding: 100px 0;
  }

  .title-section h1 {
    max-width: 650px;
    font-weight: 400;
    line-height: 60px;
  }

  .contact-section {
    padding: 100px 0;
  }
}

@media screen and (width <= 800px) {
  :root {
    --font-size-s: 0.85rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 1.8rem;
  }

  header .navbar {
    padding: 20px;
  }

  .title-section {
    padding: 150px 0;
  }

  .title-section h1 {
    max-width: 90%;
    font-weight: 500;
    line-height: 40px;
  }

  .title-section .title-wrapper {
    display: none;
  }

  .thumbnail-section .thumbnail-grid {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .thumbnail-grid .grid-item-container {
    flex-direction: column;
    gap: 5px;
  }

  .thumbnail-grid .grid-item-container p {
    float: none;
    position: unset;
    top: unset;
    left: unset;
    z-index: 5;
    margin-bottom: 0;
    color: var(--black-color);
    font-size: var(--font-size-s);
    font-weight: 300;
    width: unset;
    height: unset;
    visibility: visible;
    opacity: 1;
    transition: 0.4s ease;
    display: block;
  }

  .thumbnail-grid .grid-item-container .grid-item:hover {
    filter: unset;
    box-shadow: unset;
  }

  .contact-section {
    display: flex;
    justify-content: center;
    padding: 150px 0;
  }

  .contact-title h2 {
    font-size: var(--font-size-xl);
    font-weight: 500;
    line-height: 35px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 80px;
    font-size: var(--font-size-s);
    font-weight: 300;
    gap: 5px;
  }

  footer .footer-left {
    flex-direction: column;
    gap: 10px;
  }
}